<!-- <div class="container">
    <div class="row">
        <div class=" col-md-3 imgbanner">
            <img src="../../../assets/images/studio-reasons-Uc6Ctj_wm4w-unsplash.jpg" alt="">
        </div>
        <div class="col-md-9 content">
            <h2>mahmoud</h2>
        </div>
    </div>
    <h2>kholioooooooooooo

    </h2>
</div> -->
<section class="Form ">

    <!-- <div class="row no-gutters "> -->

        <div class="imgbanner  ">
            <!-- <img src="../../../assets/images/studio-reasons-Uc6Ctj_wm4w-unsplash.jpg" alt=""> -->
             <div class="overlay">
                 <h1>Make your Fit here</h1>
                 <h3>Access 5,825,610 Collection, high-Quality Clothes you can't find anywhere else.</h3>
             </div>
        </div>

        <div class="content">
            <h1>Join Us</h1>
            <p>Already have an account? <a href="#">Login</a> </p>
            <form class="row g-4 ">
      <div class="col-md-6">
        <label for="fname" class="form-label">First name</label>
        <input type="text" class="form-control" id="fname" required>
      </div>
      <div class="col-md-6">
        <label for="" class="form-label">Last name</label>
        <input type="text" class="form-control" required>
      </div>
      <div class="col-md-12">
        <label for="" class="form-label">Email</label>
        <div class="input-group">
          <input type="text" class="form-control" id="" required>
        </div>
      </div>
      <div class="col-md-12">
        <label for="" class="form-label">UserName</label>
        <input type="text" class="form-control" id="" required>
      </div>
      <div class="col-md-12">
        <label for="validationDefault05" class="form-label">Password</label>
        <input type="text" class="form-control" id="validationDefault05" required>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
          <label class="form-check-label" for="invalidCheck2">
            Agree to terms and conditions
          </label>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-dark w-100" type="submit">Join</button>
      </div>
    </form>
    
        </div>
 
<!-- </div> -->
</section>
    

