
section{
    display: flex;
     width: 203.176vh;
    align-items: center;
    overflow-x: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 300px;
}
.content p,h1{
    text-align: center;
}
.content h1{
    font-weight: bold;
    font-size: 50px;
}
.content p a{
    color: rgba($color: #363636, $alpha: 1.8);
}
.imgbanner{
    display: flex;
    align-items: center;
    width: 850px;
    height: 945px;
    background-image: url(../../../assets/images/alberto-cognetti-GfkIiqcNn5k-unsplash.jpg);
    background-position:center;
    background-size: cover;
}
.imgbanner .overlay h1,h3{
    text-align: start;
    line-height: 0.5;
    width: 700px;
    margin: 50px;
    color: #ffff;
}
.imgbanner .overlay h3{
    line-height: 1.5;
}
.imgbanner .overlay h1{
    font-size: 50px;
}
