/* You can add global styles to this file, and also import other style files */

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "HM Sans Regular","HM Sans Arabic Regular","sans-serif","Arial";
    min-height: 100vh;
    background-color: #faf9f8
}


.isActive{
    color:white;
    background-color: brown;
    padding: 7px;
    border: 1px solid #fff;
    border-radius: 5px;
} 

.owl-carousel .owl-nav .owl-next:hover{
    font-weight: bold;
    background-color: white;
    color: black;
    
}
.owl-carousel .owl-nav .owl-prev:hover{
    font-weight: bold;
    background-color: white;
    color: black;
    
}
.owl-carousel .owl-nav .owl-next{
    font-size: 20px;
    position: absolute;
    top: 37%;
    left: -70px;
    background-color: white;
    color: black;
    background-color: #faf9f8;
}
.owl-carousel .owl-nav .owl-prev{
    font-size: 20px;
    position: absolute;
    top: 37%;
    right: -70px;
    background-color: white;
    color: black;
    background-color: #faf9f8;
}
